# Backend - Python
back/venv/
back/.venv/
back/__pycache__/
back/**/__pycache__/

# Backend environment
back/.env
back/.env.*

# Frontend - Node
frontend/node_modules/
frontend/dist/

# Frontend environment
frontend/.env
frontend/.env.*

# IDE
.vscode/
.idea/